.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-item {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  button {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[readonly] {
    background-color: #eee;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  button:focus {
    outline: none;
    border-color: navy;
    box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  
  .btn-agregarDir {
    background-color: navy;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .container-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container-base h2 {
    margin: 0;
  }
  
  .btn-agregar {
    margin-left: auto;
    background-color: rgb(11, 129, 0);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    max-width: 150px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  
  .col {
    flex: 1;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .col {
      flex-basis: 100%;
      max-width: 100%;
    }
  }