<div class="container text-center align-items-center">
    <div class="my-5">
        <img class="logo" src="https://seguros.universales.com/portal/images/042011/LogoSeguniMiniResplandeciente.png" alt="logo">
    </div>
    <div class="d-flex justify-content-center align-items-center my-5">
        <form (ngSubmit)="login()" id="formLogin">
            <div class="row">
                <div>
                    Usuario:
                </div>
                <div>
                    <input class="form-control" type="text" [(ngModel)]="newUser.username" 
                    [ngModelOptions]="{standalone: true}" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div>
                    Password:
                </div>
                <div>
                    <input class="form-control" type="password" [(ngModel)]="newUser.password" 
                    [ngModelOptions]="{standalone: true}" required>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="invalidUser">
                <div class="mb-3">
                    <label class="form-label" style="color:red">Usuario o password invalido</label>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary custom-btn">Iniciar sesión</button>
                </div>
            </div>
        </form>
    </div>
</div>