<div class="card">
    <p-table
      [value]="datos"
      [paginator]="true"
      [lazy]="true"
      [rows]="rowsPerPage"
      editMode="row"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      [totalRecords]="totalRecords"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[1, 5, 10, 15, 20, 25]"
      (onPage)="onPageChange($event)"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Nombre</th>
                <th style="width:10%">Apellido</th>
                <th style="width:10%">NIT</th>
                <th style="width:10%">DPI</th>
                <th style="width:10%">Estado</th>
                <th style="width:10%">Grabacion Usuario</th>
                <th style="width:10%">Fecha Grabacion</th>
                <th style="width:10%">Modificacion Usuario</th>
                <th style="width:10%">Fecha Modificacion</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato>
            <tr>
                <td>{{ dato.nombre }}</td>
                <td>{{ dato.apellido }}</td>
                <td>{{ dato.nit }}</td>
                <td>{{ dato.dpi }}</td>
                <td>{{ dato.estado }}</td>
                <td>{{ dato.grabacionUsuario }}</td>
                <td>{{ dato.grabacionFecha }}</td>
                <td>{{ dato.modificacionUsuario }}</td>
                <td>{{ dato.modificacionFecha }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
