<div>
    <div class="header">
        <div class="header-left">
            <h1>Bienvenido: {{newUser.username}}</h1>
        </div>
        <div class="header-right">
            <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
    <div class="card">
        <p-menubar [model]="items"></p-menubar>
    </div>
    <div>
        <div [ngSwitch]="selectedComponent">
            <app-create-clientes *ngSwitchCase="'Creación clientes'"></app-create-clientes>
            <app-create-coberturas *ngSwitchCase="'Creación coberturas'"></app-create-coberturas>
            <app-clientes-table *ngSwitchCase="'Mantenimiento de clientes'"></app-clientes-table>
            <app-create-siniestros *ngSwitchCase="'Ingreso de siniestros'"></app-create-siniestros>
        </div>      
    </div>
    <br>
</div>